<div class="product-container">
  <app-product-filter
    (categoryChange)="onCategoryChange($event)"
  ></app-product-filter>

  <div class="product-grid" appScrollNearEnd (nearEnd)="loadMoreProducts()">
    <!-- Header Row -->
    <div class="grid-row header">
      <div class="grid-col">Product</div>
      <div class="grid-col">Title</div>
      <div class="grid-col">Price</div>
      <div class="grid-col">Rating</div>
    </div>

    <!-- Data Rows -->
    <div *ngFor="let product of products" class="grid-row">
      <div class="grid-col">
        <img
          [src]="product.thumbnail"
          [alt]="product.title"
          class="card-img-top"
        />
      </div>
      <div class="grid-col">{{ product.title }}</div>
      <div class="grid-col">{{ product.price | currency }}</div>
      <div class="grid-col">{{ product.rating }}</div>
    </div>
  </div>
</div>
