.filter-container {
  .form-label {
    font-size: 14px;
    color: var(--text-color);
    margin-bottom: 8px;
    margin-right: 4px;
  }

  .form-select {
    padding: 6px;
    font-size: 12px;
    border: 1px solid var(--border-color);
    border-radius: 4px;

    &:focus {
      border-color: var(--primary-color);
      outline: none;
    }
  }
}
